header {
   margin: 40px 0;
   display: flex;
   justify-content: space-between;
}

nav,
nav ul {
   display: flex;
   align-items: center;
}

nav ul li {
   margin-left: 60px;
}

.logo-header {
   height: 55px;
}

.active-link {
   font-weight: bold;
   text-decoration: underline;
}

@media screen and (max-width: 850px) {
   nav ul li {
      margin-left: 25px;
   }
}
